@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<UmbracoTest.Models.BlogOverviewModel> 
@{
    Layout = "Master.cshtml";
}

<div role="content">

    <div class="container" >
       <div class="row">
           <h2 style="text-align: center; font-size: 72px; text-transform: uppercase; line-height: 1.35; letter-spacing: 10px;" >@ViewBag.Title</h2>
       </div>
    </div>

	<section class="light blogarchive equalizer">
		<div class="container">
			<div class="row">
				@foreach(var post in Model.Content.Posts) 
				{
					<div class="col-sm-6">
						<div class="content equal">
							<a href="@post.Url">
								<div class="date">@post.CreateDate.ToLongDateString()</div>
								<h2>@post.Name</h2>		
								<p>@post.Introduction</p>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</section>

</div>